<!DOCTYPE html>
<html lang="en">
<head>
	<title> Example </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script type="text/javascript" src="vendor/bootstrap.js"></script>
	<script type="text/javascript" src="1.js"></script>
	<link rel="stylesheet" href="vendor/bootstrap.css">
	<!-- <link rel="stylesheet" href="vendor/fontawesome.css"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
 	<link rel="stylesheet" href="css/ControlByHand.css"></head>
<body>
	<div class="header">
		<div class="nav text-center">
			<img src="images/logo.png" alt="">
		</div>
	</div>
	<!-- end header -->

	<div class="menu container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Control By Hand</h1>
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Choose vegetable <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="#">Action</a></li>
				    <li><a href="#">Another action</a></li>
				    <li><a href="#">Something else here</a></li>
				  </ul>
				 </div>
			</div>
		</div>
	</div>
	<!-- end menu -->

	<div class="infomation">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Display</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 template">
					<div id="container"></div>
				</div>
				<div class="col-md-4 ">
					<div id="humidity"></div>
				</div>
				<div class="col-md-4 light">
					<p class="lighttext"><i class="far fa-lightbulb"></i>	Light</p>
					<p class="suntext"><i class="fas fa-cloud-sun"></i> Weather</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end infomation -->

	<div class="control">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Control</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 harvestTime">
					<p><i class="far fa-clock"></i> Harvest time</p>
					<div class="date text-center">
						<p>15 Day</p>
					</div>
				</div>
				<div class="col-md-6 pump">
					<p><img class="icon_pump" src="images/icon_pump.png" alt="">Water pump</p>
					<div class="row">
						<div class="col-md-6">
							<img src="images/icon_pump.png" alt="">
						</div>
						<div class="col-md-6">
							<img src="images/icon_pump.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end control -->

	<div class="pullProcess">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Pull cover</h1>
					<input class="progress1" step="2" type="range" min="0" max="100" value="0">
				</div>
			</div>
		</div>
	</div>
	<!-- end pullProcess -->
	<script src="js/ControlByHand.js"></script>
</body>
</html>